[2014-07-14 19:16] jlongster opened #1 "callback interop"
Thank you for writing this. This finally looks like a proper channel implementation. I've seen a few others but they go off on some weird tangents, and I've been looking for just a simple port of Clojure's core.async.

The one thing I don't see anywhere is interop with callbacks/promises. Do you have any code for that? It would be good to be able to invoke a method that takes a callback and automa

[2014-09-22 14:57] #1 closed, assigned to nobody

[2014-09-23 15:07] jlongster opened #4 "should we allow yielding a channel and `take` happen by default?"
This is something I've thought of a few times. We could pretty easily make it so that you can yield a channel and a take happens by default:

[code]

The downside is that it's not quite as readable. But as long as we never support anything like yielding a promise I think it's ok. I hate the idea of not knowing what's being yielded (is it a channel? or a promise? or a stream?) so we would still mak

[2014-09-24 16:06] Waquo opened #6 "Consider using a GPL-compatible license"
Hi,

in the current environment where Wordpress is a thing and so many people earn their livelihoods with it, a JS-library published under a GPL-incompatible licence is unusable to these people, which I find very unfortunate.

License changes are much easier when a project is young and has a small number of contributors, so I thought it would be a good idea to bring this up now.

regards

[2014-09-25 10:36] rikkertkoppes opened #7 "Transducer integration"
The channel from [@jlongster's blog](http://jlongster.com/Transducers.js--A-JavaScript-Library-for-Transformation-of-Data) implementation seems broken (in firefox and regenerator):

Full test:

[code]

It outputs

[code]

It seems the "2" is not even processed by the xform.
Any idea what's going on?

[2014-09-25 11:02] #6 closed, assigned to nobody

[2014-10-03 17:09] phtrivier opened #8 "Problems using 'csp.bundled.js' with facebook regenerator"
Hi

I'm trying to use js-csp on an older version of node-js. I tried using regenerator, to some success, but I would like some help.

I've created this repo with my tests so far : https://github.com/phtrivier/es5-js-csp-test

This strategy works :
- copy-pasting all the source code from js-csp
- transforming it with regenerator (using a grunt task)
- requireing the transformed version of 'csp.js'

[2014-10-15 12:59] zoomclub opened #11 "React.js Integration"
The ability for JS-CSP to radically change the way events are handled in user interfaces looks worthy of further investigation. The "Taming User Interfaces" section of the following article introduced this way of using JS-CSP: http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript

Meanwhile React.js only uses the standard event system. I for one would very much like to see more

[2014-10-22 14:21] jlongster opened #13 "Easing promise interactions"
I don't feel ready to implement anything yet, but I wanted to file an issue to talk about it. Promises are certainly everywhere in JS, and I think we need to do something to make it easy for a new user to interact with them. When I imagine trying to sell this project to my team, it certainly makes me aware that it would be hard without some support for promises.

The simplest solution I can think

[2014-10-22 14:43] jlongster opened #14 "Error handling"
In the past we've talked about several ways to handle errors:
- Add a new instruction that throws when it receives an Error object (I called it `takem`). I wanted a short instruction because you will probably be using it a lot. This allows the user fine-grained control over error handling.
- Add some kind of "errored" state to the channel, and when you try to take from it, it automatically throws

[2014-10-23 01:25] #4 closed, assigned to nobody

[2014-10-23 04:44] #8 closed, assigned to nobody

[2014-10-24 17:00] phtrivier opened #16 "putAsync usage"
Hi

 I'm trying to use putAsync to wrap an asynchronous ("callback based") function, and return a channel to give the result.

Following what I read here, http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript, I tried using putAsync this way :

[code]

This fails, with an error like this :

[code]

Note that I am in a "strange" setup ; I'm using an version of the nodejs bundle

[2014-10-27 15:00] #16 closed, assigned to nobody

[2014-11-06 06:43] jlongster opened #20 "consider name change?"
I don't mind the current name, but it's very, very confusing in the JS world because everyone thinks of Content-Security Policy when they see CSP. This has come up countless times when talking to people. Although it doesn't take much to explain, I think it might help adoption if we change the name.

I don't know how tied you are to the current name, I know it's a pain to change it... but I think i

[2014-11-06 14:01] phtrivier opened #21 "putAsync and "unclosed" channel"
I'm not sure what the behavior of this program should be :
[code]

In practice, I get :

[code]

If I close the channel inside of findAll, I get, as expected :

[code]

Why does the first version stop ? Is there an implicit "timeout" on taking from a channel ?

[2014-11-06 15:21] phtrivier opened #22 "putAsync on unbuffered channel in Promises"
I'm wrapping code that returns value asynchronously with Promises.
In a scenario where several promises have to putAsync in the same unbuffered channel, I get an Exception.

[code]

Here is the result :

[code]

This is fixed by changing the buffer to be buffered :

[code]

Is this the right fix ? In this situation, what should the buffer size be ? Exactly the potential number of "concurrent" valu

[2014-11-08 00:28] #22 closed, assigned to nobody

[2014-11-21 16:56] zeroware opened #25 "Expose the Channel class"
When I use channels in my code i'd like to be able to add JSDoc when a function return or expect a Channel.

Exposing the channel class can solve this. Or maybe there's another way ?

[2014-11-21 19:40] #25 closed, assigned to nobody

[2014-11-27 14:47] zeroware opened #26 "add pipeline-async functions"
I'm trying to apply an async function to every value of one channel.
In FRP this operation is typically called flatMap.
The function takes a function which return a chan.

Here is a draft of what it may look like :

[code]

Is there any other way to compose existing function to produce this kind of result ?

*EDIT* : I realized that this implementation is closer to flatMapConcat than flatMap.

[2014-12-22 04:26] vagicharla3nadh opened #29 "Angular JS grid is not reloading after i change the grid options in my script"
Hi
I used the following script to hide particular column based on the drop down selection.
 var pos = $scope.gridOptions.columnDefs.map(function (e) { return e.field; }).indexOf('Coordinator');
            if ($scope.ddl == "All") {
               $scope.gridOptions.columnDefs[pos].visible = true;
            }
            else {
                $scope.gridOptions.columnDefs[pos].visible = false;

[2014-12-22 16:00] #29 closed, assigned to nobody

[2014-12-23 00:33] zoomclub opened #30 "Is CSP the right or a possible solution?"
I was reading the wonderful "Taming the Asynchronous Beast with CSP Channels in JavaScript" article again and got thinking that there might be more use for CSP for me besides how it can be used for "Taming User Interfaces".

After the re-read I started thinking about using CSP for aligning data to a grid or producing the points of the grid. For an example lets consider a music score and the alignm

[2014-12-23 03:20] dashed opened #31 "Multiple processes taking a value?"
I'm new to the concept of CSP, and my knowledge is limited to what's introduced in the following article: http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript

If I have multiple processes taking values from a channel, why is it that only one process takes a value when I put a single value into the channel?

Example:

[code]

[2014-12-25 14:49] #31 closed, assigned to nobody

[2014-12-30 11:10] zeroware opened #32 "node callback and event emitter utilities"
While using the lib I found that at some point people will have to use node callback and event emitter based lib with channels.

Here is two utilities functions I ended up with :

[code]

[2014-12-30 21:23] myndzi opened #33 "Instance checking?"
csp.chan() is not an instance of csp.chan; I don't see any functions such as csp.isChan either. How should I check whether a supplied value is a CSP channel? Same goes for other entities.

[2014-12-31 13:33] #7 closed, assigned to nobody

[2015-01-01 09:05] zoomclub commented on #30
My json blob is in the format the score structure and the BaaS it is hosted by requires it to be in. Essentially, the tracks are already a series of events (the spans). The number of tracks is dynamic so the CSP functions processes would also need to be dynamic. It seems that CSP is suitable for things like processing pointer events and network events, not entirely sure it extends to other use cas

[2015-01-09 23:04] ubolonton commented on #14
This looks interesting http://docs.paralleluniverse.co/pulsar (just a reference, I'm investigating other CSP implementations).

[2015-01-20 08:46] zoomclub commented on #30
I've always thought of my tracks as streams, as a musician and an engineer, there is no conflict there. The spans in the tracks (outer streams) have specific attribute types that represent further inner streams as well. Absolutely then, I already see everything as streams of data. Yet, I am only use to thinking about iterating through the tracks of JSON span data with classic loop constructs and n

[2015-01-23 00:10] zoomclub commented on #30
@ubolonton,

I've been discovering a few more things that are likely leading to a solution. My BaaS is Firebase so documents in Firebase need to be turned into streams. In the process of learning I have come across the following article where RXJS is used instead of JS-CSP:

http://blog.cryptoguru.com/2014/11/frp-using-rxjs-and-firebase.html

I'm new to JS-CSP and RXJS and there is much to know an

[2015-01-23 03:10] jlongster commented on #30
There is much to come :) We plan on doing a lot more demos/detc and improve marketing of the project. It will happen over the next few months.

[2015-01-23 03:20] zoomclub commented on #30
Rockin! Can we have a roadmap of what is coming, how can we help? Months is a very long time, how about a firedance with firebase sooner? Looking forward to your session at the React Conference :)

[2015-01-23 03:35] jlongster commented on #30
It shouldn't really be months, but I never know when work is going to take up all my time. I've been busy the last month, but after the conference it'll definitely be my top priority to contribute here again. The first thing we should do is make a roadmap for sure. One of the problems is that we're not entirely sure (at least I'm not) what it looks like down the road. As this is new territory, we

[2015-01-23 04:01] zoomclub commented on #30
Sounds real good! One more demo we know of now is turning firebase data into streams, so that as data is edited via firebase ops JS-CSP processors can observe given sections of data, break it into steams and process it six ways from sunday.

The processors could be auto called from firebase.on or engaged by use of some user tool. Just it should be done with a clean connection to firebase not via f

[2015-01-25 23:47] bioball opened #38 "attach `put` and `take` methods to the channel instances themselves, instead of on `csp`"
This is a nitpick of mine, but I think attaching the `put` and `take` methods to the root `csp` object doesn't read as well. It's kind of annoying to have to pass in the channel as the first argument to every call. I'd like to interact with the API this way:

[code]

Unless there's a reason why they need to be on the csp object that I'm missing?

[2015-01-26 15:59] ubolonton commented on #38
I think it reads well if we assign them to variables: `take(ch)` and `put(ch, val)` vs. `ch.take()` and `ch.put(val)`.

In addition, it's more uniform when we take `alts` into account.

[2015-01-30 18:22] zoomclub commented on #11
Whats the feedback from the React Conference? Is your talk available as a video not just slides?

[2015-02-02 21:29] jlongster commented on #11
Thanks, it's so hard to do something like this in 30 min. My devtool addon isn't even available in Firefox yet, it's super hacky and I need to fix it up a lot first. I'm going to start focusing on js-csp again the next few weeks so I should make some progress.

[2015-02-04 04:17] spicydonuts commented on #38
One thing that's nice about putting them on the channels themselves is that consumers of the channels don't need to reference the js-csp library.

On the other hand, making them require the js-csp library is nice because anyone glancing at the file can  see it and google js-csp rather than having to find out where the instance is coming from..

Not sure which I prefer.

[2015-02-04 07:41] bioball commented on #38
Adding onto that thought, let's say we *only* expose the channel in a module. In that case, you can do something like

[code]

Leads to better isolation of concerns, methinks. (Also, going back to the reading better part, "channel, take value" reads better than "library, take value from channel", since referencing the library is redundant)

[2015-02-08 13:13] ubolonton commented on #30
@zoomclub I tried converting Firebase example (Firefox only):
https://gist.github.com/ubolonton/71d3cb081328dad1d41c

[2015-02-08 13:40] ubolonton commented on #38
I think explicitly specifying the library is better. The other way is more of an implicit concern than isolated concerns.

For readability, the `csp.` part (if not omitted) should be read as a namespace, not an object. That is why we'd usually do:
[code]

[2015-02-08 16:31] nmn commented on #20
I think the name should be something to do with channels and/or streams.

- channel.js
- channel-streams
- chan.js
- js-chan
- go-chan

[2015-02-08 16:43] nmn commented on #13
I think promise unwrapping in Go blocks is a good idea. This would move away from the core.async purity, but it would be more practical for the javascript world. (immutable-js over mori)

There is no question that a helper method should exists for unwrapping promises. This is fairly straightforward, and doesn't actually need any change to the `go` function.

[code]

The question is really about th

[2015-02-08 17:09] nmn opened #40 "js-CSP compared with streams and events"
@jlongster wrote a great article introducing js-CSP, and does a short comparison with promises. I think a more fair comparison would be to streams such as RxJS and Bacon.js.

This, issue will also play into **Multiplexing, mixing, publishing/subscribing** .

The major difference I see between channels and streams other than generator functions and API is:

## One-To-Many Streams
Streams act like e

[2015-02-08 18:07] zeroware commented on #20
chan.js or channel.js is good I think :)

[2015-02-08 18:50] zoomclub commented on #40
Thanks for the enlightenment. I see a lot of RxJS being used and it would be great to define all the similarities and differences between the JS-CSP approach and the RxJS approach. Likely a article with code samples comparing these approaches would bring many up to speed on what is still a unclear concern.

For instance people are asking the following and still have not heard of JS-CSP: http://sta

[2015-02-09 07:26] bioball commented on #38
Ok. Small nitpick, so if you still feel that this is better, then that's that.

[2015-02-09 07:26] #38 closed

[2015-02-09 09:36] zeroware commented on #40
If you look at the code of js-csp you will see that there's already some function to do pub/sub with channels.

[2015-02-09 18:50] zoomclub commented on #40
Word is that it comes down to a matter of taste, my taste buds like JS-CSP. There is a great discussion going on here: https://github.com/arqex/curxor/issues/1#issuecomment-72642125

[2015-02-09 18:52] nmn commented on #40
@zeroware The reason I wrote this issue, primarily, is to suggest that many of these features should be exported as modifier functions rather than making channels with many forms.

I think it helps to show that channels are a low-level and simple concept that can be used in all sorts of situations with just a few helper functions.

[2015-02-11 16:29] ubolonton commented on #40
@nmn

The `toMany` example you gave would have worked with the old no-transducer version, not the latest one. This is a limitation of the current transducer integration https://github.com/ubolonton/js-csp/blob/42658bd7c82f9c0ba8fa932c90662067aedbb0ad/src/impl/channels.js#L63. We may need to revisit the alternative implementation discussed in #7 if `dropping(0)` turns out to be a common pattern.

C

[2015-02-11 16:45] nmn commented on #40
@ubolonton

I am not I understand why my `toMany` example won't work with the latest version. As far as I can see the way buffers are implemented may be a problem. I don't have an answer yet, but I'm sure it can be worked around.

[code]
I think I have the same thing in mind. For clarity, here is what I mean:

[code]

Essentially, the chan method can become super simple as only a single type of ch

[2015-02-11 17:00] nmn commented on #32
I have pull request #37 for the same.

I think the error handling story is important to solve. But also, we need to decide on behaviour related to closed channels.

I think a closed channel should be a signal to remove all bindings. In the `fromEvent` function for example:

[code]

[2015-02-11 23:28] zoomclub commented on #40
@ubolonton

Thanks, very much looking forward to the ported examples. This is very meaningful because each new example shows the versatility of CSP and also clues me into finding uses for it. Its looking like CSP can be used in many of my app features, so it is becoming very worth while taking the time to understand CSP.

Also, it would be good to know where to mount CSP in React components. The w

[2015-02-27 04:58] bstro commented on #11
@jlongster Enjoyed your CSP talk as well! Any chance you could push up the code you showed in the slides? I'd love to see some of the code from your initial thoughts on using CSP with Flux.

[2015-03-07 15:48] zoomclub commented on #30
@ubolonton Thanks for this sample, its great to have a start with JS-CSP and Firebase! Was there a project for this sample or only the gist? No sure how to resolve "<script type="text/javascript" src="../../build/csp.bundled.browser.js"></script>".

[2015-03-08 09:47] dialelo commented on #20
:+1: to a name referring to channels as @nmn suggests, I like chan.js

[2015-03-08 16:41] zoomclub commented on #20
Some Sunday morning brainstorming ideas:

• current.js
• arroyo.js
• multus.js
• multiplex.js
• mux.js

Interesting correlations:

Multiplexing
In telecommunications and computer networks, multiplexing is a method by which multiple analog message signals or digital data streams are combined into one signal over a shared medium. The aim is to share an expensive resource. Wikipedia

In telecommunica

[2015-03-08 20:25] zoomclub commented on #20
Concurrent.js is another name option. A name that gets closer to the bigger purpose of the API would be best. Makes for effective education and branding.

[2015-03-09 16:23] nmn commented on #20
I feel that concurrent is a little misleading. It reminds me of parallel.js which helps with dealing with workers.
Current.js is pretty good.

Overall, I still think something simple like Channel.js is the way to go.

[2015-03-10 16:48] ubolonton commented on #30
@zoomclub I added it to https://github.com/ubolonton/js-csp/tree/master/examples#user-content-web

[2015-03-12 22:11] darrencruse opened #47 "Can js-csp be used in combination with other generator libraries?"
This is really just a question (it might or might not really be an "issue"):

I was writing some code to walk a directory tree and upload the files to amazon S3.

And I fairly quickly got some code working that I liked to walk the directory tree, using generators and TJ Hallowaychuk's "co" library.

But to limit the number of files that could be simultaneously loaded to S3 at any one time (so as n

[2015-03-12 22:18] jlongster commented on #47
I don't have time right now to read your problem in depth (specific to the tree-walking stuff), but no, you can't mix and match "task runners". The only thing that is possible is that each task runner supports various data structures; for example, if `co` supported channels it could detect that a channel was yielded and run it through js-csp somehow. But these kinds of things require native suppor

[2015-03-13 22:26] darrencruse commented on #47
Thanks jlongster.  Love your blog posts btw.

I'll try some more examples before I say more.

(I started to say maybe I could try and help out adding the Promise support in js-csp, thinking it would be a big help in general - but maybe as you say I should basically not use "co" in what I was doing and just use js-csp alone - I'll give it a shot and see).

[2015-03-23 18:15] nmn opened #50 "Redis, RabbitMQ, Kafka adapters"
Channels are an amazingly versatile transport mechanism to pass values between go blocks. In clojure, and go, they are also used to pass values between threads.

Since javascript has no threads, channels can and should be used to pass values between node processes. Since processes don't have any shared memory, this needs to be done using something like Redis to manage the common state.

Building a

[2015-03-23 18:18] nmn commented on #50
Just wanted to add something here:

The main challenge with the adapters is the way to block on `put`. The RxJS/Observable way of fire and forget is relatively trivial to implement.

[2015-03-24 18:10] zeroware commented on #50
I like the idea of adapters but I don't know if the name is appropriate.
Still we need to decide about the error handling (https://github.com/ubolonton/js-csp/issues/14).

[2015-03-24 18:53] jlongster commented on #50
I don't fully understand the problem; you just need to implement whatever kind of inter-process communication you want, and provide a channel as the interface. I wouldn't implement the channel interface, I would just provide a real channel that the backend listens for puts and takes and dispatches those to the backend implementation of sending/receiving values.

[2015-03-24 20:12] zeroware commented on #50
@jlongster Yes I agree. This kind of "adapters" has nothing to do with the core lib. We can just have another module that can take i/o from and to channels.

[2015-03-24 20:15] zeroware commented on #14
I'm just bumping up this. Any progress ? How can we help ?

[2015-03-24 20:25] jlongster commented on #14
I am *so close* to start hacking on this again. The semantics are hard to figure out, actually implementing it is really easy. I've been really busy and trying not to get burned out, so trying to be careful to not be programming on the side as much. That said, I think even next week I'm going to take a look at this again :)

[2015-03-24 22:49] nmn commented on #50
@jlongster @zeroware I think I wasn't clear in that I don't think the adapters themselves should be a part of the core lib.

I've been doing some research on this. Most solutions for inter-process communication, as well as most async solutions for javascript have one thing in common — fire and forget.

RXjs, BaconJS, Redis, Web Workers, Node Child Processes etc. In all cases, when you fire an even

[2015-03-24 22:49] #50 closed

[2015-03-26 22:31] jeroencranendonk-wf opened #52 "New transducer protocol"
There's some discussion ongoing about an official spec for transducers [here](https://github.com/cognitect-labs/transducers-js/issues/20). Will js-csp support this, once it's stabilized?

[2015-03-27 02:47] jlongster commented on #52
Absolutely, I also need to update https://github.com/jlongster/transducers.js. The changes here I think are only the `isReduced` method.

[2015-04-03 19:30] jlongster commented on #52
I just updated my lib, so we should update this soon.

[2015-04-03 19:38] dialelo commented on #52
@jlongster are you going to send a patch for solving this issue? If not I'd be happy to do so.

[2015-04-03 20:03] jlongster commented on #52
I haven't started it yet, so if you want, go ahead :)

[2015-04-03 20:09] dialelo commented on #52
I will give it a try then, expect a PR soon.

[2015-04-05 07:05] #52 closed

[2015-04-12 15:49] ustccjw opened #56 "both take and put will block until both sides are there to actually pass the value? This one is different."
[code]

[code]

you see `process 3 start; process 1 end; process 1 start; 1`, i think it should be `process 3 start; process 1 end; 1; process 1 start;`

[2015-04-17 11:26] ubolonton commented on #56
In this example, the putting process (let's call it 4) was already waiting when process 1 got to `yield csp.put(ch, 1)` the second time.

It may be confusing to see 1 getting to `console.log('process 1 start')` before 4 was unblocked. However, the guarantees should be understood like this:
- The synchronization of 2 events means that any later event in the same 2 processes comes after them (no eve

[2015-04-17 11:52] #26 closed

[2015-04-17 11:53] #33 closed

[2015-04-17 11:54] #21 closed

[2015-04-17 11:55] #30 closed

[2015-04-27 03:38] akiellor opened #57 "Non-deterministic results in an attempt at implementing a competing consumer example."
[code]

Example Output 1:
[code]

Example Output 2:
[code]

The above was an attempt at a competing consumers implementation. I end up getting inconsistent number of results and the results include a non deterministic number of 'undefined' in the merged results channel.

I'm going to continue looking into this issue, but wanted to raise it to see if I was doing something stupid.

[2015-04-28 10:59] ubolonton commented on #57
Thanks for the catch. This was a bug in `alts`'s implementation.

[2015-04-28 10:59] #57 closed

[2015-04-28 12:53] akiellor commented on #57
Nice! Thanks for the quick fix.

I'm really enjoying digging through a csp implementation.

[2015-04-29 04:19] threepointone opened #58 "transducers.drop(n) not working as expected"
[code]

[2015-04-29 04:33] threepointone commented on #58
not sure if related, but dedupe() doesn't work either.

[code]

[2015-04-29 04:43] ubolonton commented on #58
Seems to be a `pipeline` bug. Attaching transducers directly to channels works.
I'm checking it.

[2015-04-29 05:01] ubolonton commented on #58
Actually that's how `pipeline` is "supposed" to work: applying the transformation to individual items.

In Clojure it's useful for parallelization of non-stateful transformations. In single-threaded js runtimes it's actually quite useless.

[2015-04-29 05:10] ubolonton commented on #58
We need to do the following
- Update the doc to make it clear that `pipelineAsync` is for parallelism.
- Remove `pipeline` or fix its doc.
- Maybe augment `pipe` for the use case of "connecting 2 existing channels via a transducer" (if the code is in control of either channel, it can just attach the transducer when creating the channel).

[2015-04-29 05:17] threepointone commented on #58
ah, I see what you're saying. I worked around it by passing a transducer to the created channel. thanks much.

[2015-05-05 07:05] threepointone opened #59 "multiple versions (instances?) of js-csp breaks implicit take"
in a project with different modules requiring js-csp, implicit take breaks.

[code]

[2015-05-07 01:54] ubolonton commented on #59
This is likely due to the use of `instanceof`. I'll check it soon.

[2015-05-12 21:38] jaawerth opened #60 "why is csp.CLOSED === null?"
Hello!

I was wondering: why is `csp.CLOSED` currently equal to `null`? Wouldn't it make more sense to assign it an arbitrary object for reference equality (or possibly a Symbol in compatible environments) so "null" can be a usable value to send through a channel? I imagine this was your intention from the beginning (otherwise there'd be little point in giving CLOSED its own property assignment in

[2015-05-13 09:33] zeroware commented on #60
You are right. The csp.CLOSED value has to be something else than null.

[2015-05-13 19:06] jaawerth commented on #60
Great, thanks for verifying I'm not crazy ;-). I'll submit a PR.

[2015-05-18 19:46] DjebbZ commented on #11
Hi, I did a small presentation on React.js + CSP 2 weeks ago and have a repo to share. Go to branch `csp`. Agreed, the exemple is very dumb, but it at least shows the use of channels + transducers to make 2 indepedant (read: not in parent-child relationship) communicate. Hope this helps get you started !

https://github.com/DjebbZ/react-meetup-data-flow

[2015-05-22 12:43] ivan-kleshnin commented on #40
@nmn, did you meet this two articles?

http://potetm.github.io/2014/01/07/frp.html
http://potetm.github.io/2014/01/27/responsive-design-csp.html

That guy reimplemented David Nolen's CSP examples on Bacon + ClojureScript and got
very interesting results. He came to the opposite conclusion that it's hard to see the declared benefit of CSP over Rx (at least from the app code point of view),.

It wou

[2015-05-22 18:41] nmn commented on #40
@ivan-kleshnin I did read these two articles. They are indeed very good articles. I mostly agree with them, but it is important to put them in the context that the author has much more familiarity with Bacon.

I have been looking this comparison a lot lately and I've come to the conclusion that things that I considered to be impossible with FRP are actually possible with some creative thinking.

I

[2015-05-22 19:25] ivan-kleshnin commented on #40
@nmn, thank you! Very good summary and I can't find anything to argue.

[2015-05-26 22:59] nmn opened #62 "Synchronous handling of data when possible?"
It looks like any data passed over a channel is always asynchronous, even when a receiver is already waiting. Is there a possibility that when a take is already waiting for a value, the put should fire synchronously?

This was a major hurdle in my flux implementation called Flexy. Using it I have some logic that fires an action to fetch data if such data doesn't exist in the store. However, if the

[2015-05-27 08:20] dialelo commented on #62
Since they were added to core.async, I wrote synchronous variants of `put` and `take` in #54.

`offer` does just that. Note that `offer` is succesful iff it can complete instantaneously, otherwise it fails and the value is not put in the channel.

[2015-05-27 14:17] nmn commented on #62
Your pull requests seems to be almost perfect. It would solve my issue.

[2015-06-03 14:14] tomvdsom commented on #60
csp.CLOSED === null is quite logical.

null is a sentinel for communicating you have no sensible value for something.  The usual somethings are variables, marking empty places in data-structures and return-values.

Channels however are for communicating between some set of logical processes.

What intent can you possibly mean to communicate when communicating a sentinel who's soul purpose is to si

[2015-06-04 08:55] andreaslundahl opened #63 "Why cancel all pending puts when closing channel?"
Coming from core.async, I was surprised that I cannot put some (pending) values onto a channel, close the channel and then take those values. For example:

[code]

The same thing in Clojure(Script):

[code]

It seems like this behavior was added in https://github.com/ubolonton/js-csp/commit/9c8a601e7135febe9c49349d2fd4c6ecf54dba3d.

I find it useful to not have to wait for a channel to be exhauste

[2015-06-07 16:06] happy4crazy commented on #13
Has any more thought been put into yielding promises? For what it's worth, I like the idea and wouldn't find the behavior confusing; in fact, I think it would be nice, because then I could use channels when I want maybe-many semantics and promises when I want just-one semantics.

As it stands, I find myself sometimes wanting to use `co` (the programming model is very simple) and sometimes wanting

[2015-06-09 03:24] yiransheng opened #64 "alts results indicating is it a put or take"
On alts, docs says:

However, when do something like:

[code]

There's no meaningful way to check if the carried out operation is a take or a put, as both will have `result.value === true`.

[2015-06-09 08:54] dialelo commented on #64
Maybe we should return an `op` key in the result with a value indicating if it was a put or a take.

[2015-06-09 15:35] jlongster commented on #64
You can never take and put on a channel at the same time, they are not concurrently bidirectional. You just created a race condition, that may happen to work because of the order we happen to execute take & puts. We should randomize the order so nobody depends on the actual order of execution.

`alts` should not indicate this, since you can always just check the channel it happened on.

[2015-06-12 03:46] bbarr commented on #47
Indeed, consolidating these generator libraries would be incredibly helpful. For example, this is what it looks like to field a koa request with js-csp:

[code]

Note how I have to wrap the go* function in this arbitrary feeling Promise. Would be lovely to have these systems "just work" together.

[2015-06-12 13:52] jlongster commented on #47
It's impossible to make that "just work". Each system is wants to own the event loop. What you need to do is choose which one is going to own it, and wrap the rest. You could make your own `route` object, for example, that hides that boilerplate, and invokes your generates with channels and handles the koa bindings.

[2015-06-12 13:52] #47 closed

[2015-06-16 05:36] yiransheng commented on #64
Thanks for the explanation, I think I might still have some concepts confused w.r.t. the putting and taking on the same channel business.

Was trying to mimic Go's select with alts.
[code]

compared with js-csp, might be something like:

[code]

Example from: [https://www.nada.kth.se/~snilsson/concurrency/#Match](https://www.nada.kth.se/~snilsson/concurrency/#Match)

Seems to me `select` is a more

[2015-06-16 16:55] dialelo commented on #13
Note that the promise channel has been reverted (#65) due to channels not respecting promise semantics. When attaching callbacks to an unresolved promise, they will be called on promise resolution. However, when taking values from a promise channel before delivering a value to it, the take handlers will never be called due to the channel implementation.

[2015-07-01 21:23] dqdinh opened #66 "Unable to require js-csp using babel"
I'm on the latest version of babel (5.6.14) and js-csp (0.4.1). An error is thrown on the * generator symbol from line 68 in 'js-csp/src/csp.operations.js'. Any ideas why?
[code]

[2015-07-02 07:26] dialelo commented on #66
Are you using node with the generators? You can activate them with the `--harmony_generators` v8 flag.

[2015-07-02 17:37] dqdinh commented on #66
I'm using babel.

[2015-07-05 15:07] Chris-Andrews commented on #66
You need to use the optional babel 'runtime' transformer:
https://babeljs.io/docs/usage/runtime/

[2015-07-05 19:37] dqdinh commented on #66
thanks

[2015-07-05 19:37] #66 closed

[2015-08-06 11:45] nmn commented on #62
@ubolonton is this lib being maintained anymore??
I was relying on it in production, but the lack of development scaring me.

[2015-08-08 14:40] summivox commented on #13
Took me a while to realize that "promise channel" and "yielding promise" are different things.

+1 to yielding promise. More precisely, converting a thenable to a js-csp channel, either manually, or automagically using `yield`. Currently I'm using basically the same boiler-plate as @nmn wrote.

[2015-08-08 21:26] summivox commented on #60
What about using `void 0` (a.k.a. `undefined`) instead?
`null` carries the connotation of "intentional absence of value" (see also `chan struct{}` in golang).
`void 0`, on the other hand, has no such connotation. I'd say if we must express `csp.CLOSED` with an atom, then `void 0` wins over `null`.

You can test for strict equality:
* javascript: `result === void 0` or `result === undefined`
* coff

[2015-08-09 02:03] summivox opened #67 ""null channel should always block""
Rationale is explained excellently in this article: http://dave.cheney.net/2013/04/30/curious-channels

Since interface for channels are functions (instead of member of channel), could this possibly be implemented with a null check?

[2015-08-09 08:44] #62 closed

[2015-08-09 09:29] ubolonton commented on #63
This behavior was deliberate. If we want to keep values we should use a buffer.

Can you give some examples where `core.async` behavior is more desirable?

[2015-08-09 10:08] ubolonton commented on #67
Something like this should work (instead of "abusing" `nil` like that Go example):

[code]

However, `waitMany` could be implemented by removing the done channel from the list of channels to `alts` from.

[code]

Is there any other better example where a `null` channel is needed?

[2015-08-09 16:54] summivox commented on #67
From my limited knowledge of CSP, one example is guarded select block:
[code]
https://groups.google.com/forum/?fromgroups=#!topic/golang-nuts/ChPxr_h8kUM

Of course in javascript we can simply process the channel array before passing it to `alts`. It's just more convenient and consistent to have some sort of "always blocking" channel (I agree it doesn't have to be literally `null`).

[2015-08-11 09:34] nmn commented on #13
@summivox Currently I handle errors in CSP as values. This is the functional way anyway.
So, any error is always `instanceof Error` and is just a value.

However, CSP could handle errors the same `co` and `async functions` do by throwing an error in the generator.

[2015-08-11 15:03] summivox commented on #13
Provided that errors are always `instanceof Error`, that is, which could be a bold assumption were it to be integrated into a library.

OT: I do hope to see canonical error handling patterns though. Now I constantly have to think about these on a case-by-case basis.

[2015-08-19 08:42] nmn commented on #13
For developer experience point of view it's better to handle errors in JS-csp itself. And use try-catch in the code. However, treating errors like values is more performant

[2015-09-15 21:50] csterritt commented on #11
Allen Kim put up a really nice minimal take on Flux using js-csp here:

http://codrspace.com/allenkim67/a-simpler-web-architecture-using-flux-csp-and-frp-concepts/

I've been extending it slightly, to great effect.

[2015-10-01 07:39] niwinz opened #68 "Use js-csp with babel and browserify"
Hi!

I don't know if this is an appropriate location for ask this kind of questions. Let me know if it is not.

I found that **js-csp** publish in npm directly the es6 source code (without the traspilation process), that is ok. But when I use it with browserify+babelify, the source code is just incliuded in my bundle and not preprocessed. This means that the result bundle I can use only with moder

[2015-10-01 08:12] casperin commented on #11
Small note on the above link. The `clickHandler`,

[code]

Can be done as

[code]

[2015-10-04 17:39] lucasmreis commented on #11
Clojurescript has a nice React wrapper called [Quiescent](https://github.com/levand/quiescent), and the [Quiescent TodoMVC](https://github.com/wvdlaan/todomvc) implementation uses CSP in a really clever way.

I experimented with it a little bit in Javascript using js-csp, and wrote about it here: [Using CSP As Application Architecture](http://lucasmreis.github.io/blog/using-csp-as-application-arch

[2015-10-10 10:04] savelichalex commented on #68
This is becouse if you want then package will be transpiled in node_modules folder package must have in package json this:
"browserify": {
  "transform": ["babelify"]
}

[2015-10-10 10:14] savelichalex commented on #13
It has been almost a year since opening this issue and have not taken any decision? I propose to make the method like in bluebird: addYieldHandler

[2015-10-11 19:57] niwinz commented on #68
Is just that I have said that does not works.

[2015-10-12 07:04] savelichalex commented on #68
Let me have you look into your code. Or write example how you use browserify

[2015-10-12 07:34] niwinz commented on #68
This is a part of gulpfile that we are using for build  our project https://gist.github.com/niwinz/671a8d53a510e0d05db7. We are using the latest versions of babel and browserify.

And, independently of `"browserify": {"transform"...` in the project.json, browserify includes in bundle not babelified files of js-csp. At this moment I have a workaround having js-csp directly in source (under "vendor"

[2015-10-12 08:04] savelichalex commented on #68
Andrey, please show me your project.json file. I'm sure that you wrong
understand where browserify instructions must be. You should open
node_modules folder, then js-csp and in this folder in package.json add
broserify instructions to transfowm with babelify

On Mon, Oct 12, 2015 at 10:34 AM, Andrey Antukh <notifications@github.com>
wrote:

[2015-10-12 08:14] savelichalex commented on #68
https://github.com/ubolonton/js-csp/pull/45/files

On Mon, Oct 12, 2015 at 11:04 AM, Лёша Савельев <savelichalex93@gmail.com>
wrote:

[2015-10-12 08:27] niwinz commented on #68
I have updated the gist with `package.json`.

In any case, my `package.json` has the exact thing that the babelify readme suggest: "Add to the root of all your modules package.json that you want to be transformed."

Adding `"browserify": {"transform"...` to the package.json of the js-csp on node modules is not an option, because is fully error prone and implies that every team should do it. The cu

[2015-10-12 08:54] savelichalex commented on #68
I think that only solutions described by @nmn in his PR can help you. In
our company we choose webpack instead browserify + babelify that perfectly
solves this problem. But you can try to work with viralify or apply
transform globally

On Mon, Oct 12, 2015 at 11:27 AM, Andrey Antukh <notifications@github.com>
wrote:

[2015-10-14 07:29] coodoo opened #70 "Is it possible to "untake" a channel?"
Say I did something like this:

[code]

But later I decided to cancel the take and let other process to handle it, is there any way to do that? Thanks.

[2015-10-14 10:33] zeroware commented on #70
I'm not sure to understand what you want to do.
Maybe look into `alts` (https://github.com/ubolonton/js-csp/blob/master/doc/basic.md#yield-altsoperations-options) if you want to cancel an operation after a some time.

[2015-10-14 12:37] coodoo commented on #70
Yup `alts` did the trick, thanks for the reminder!

[2015-10-14 12:37] #70 closed

[2015-10-23 20:19] rhasson opened #72 "Channel stops accepting puts"
Hi,

I'm running into an obscure issue that I can't figure out.  So I set up a inbound channel that takes HTTP requests coming from a client.  Then I take those requests off the channel, process them and put them back onto an outbound channel.  The server then takes the modified requests off the outbound channel and replies back to the client.  When I send 2 or more concurrent requests to the serv

[2015-10-25 15:46] tomvdsom commented on #60
@summivox

#### Late reply

Sorry for the long delay - life kindof happened upon me, but anyway ...

- `void` is simply an operator that always returns `undefined` - so we are actually talking about `undefined`.
- golang channels are typed and return 2 things: `<stuff_of_correct_type>` and a `true` or `false` boolean value, indicating whether a channel is closed (see: [A Tour of Go - Range and Clo

[2015-11-07 20:53] trusktr opened #73 "Can we use channels with async/await?"
Instead of generators? If so, mind providing an example?

[2015-11-07 21:08] trusktr commented on #73
I don't think so, because promises don't seem to be returned. Did I miss it?

[2015-11-07 22:02] jlongster commented on #73
Unfortunately, no. async/await is inherently tied to promises right now.

The best long-term solution in my opinion is http://sweetjs.org/ which would allow us to customize syntax. TC39 is interested in this, but we'll see. Sweet.js is currently undergoing a redesign, but hopefully within a year it may be a viable option.

[2015-11-07 22:05] trusktr commented on #73
I'm not a fan of macros. I'd rather work with the runtime language, but can live with transpilation for features that *will be* part of the language.

[async-csp](https://github.com/dvlsg/async-csp) is looking nice. Are there any downsides to relying on promises?

[2015-11-10 13:27] hden opened #74 "onto(ch, iterable, keepOpen?)"
It would be beneficial to rely on an interface instead of specific implementations

[code]

[2015-11-26 00:56] trusktr opened #75 "What does "alts" stand for?"
What does the name of the `alts` function stand for? Where might the original definition be (in whatever language it happens to be in)?

[2015-11-26 01:39] lucasmreis commented on #75
You can see the `alts` documentation here: https://github.com/ubolonton/js-csp/blob/master/doc/basic.md .

`alts` is usually used when you want to `take` from more than one channel. A very common design pattern is using `alts` with a channel and a `timeout` channel. I'll reproduce here the example used in the documentation, which illustrates it very well:

[code]

[2015-11-26 01:57] trusktr commented on #75
@lucasmreis I know what it does. I'm just wondering if "alts" means anything. Is it an abbreviation for something? For example, I know that the "ch" in `var ch = csp.chan();` stands for channel, but I'm not sure what "alts" stands for.

[2015-11-26 02:21] lucasmreis commented on #75
Oh, my bad! :)

In this case, I always thought it came from *alternatives*, but I do not know if this is the real origin of the name.

[2015-11-26 06:33] trusktr commented on #75
That same thing came to mind for me, probably because we all have `alt` keys and so it just pops into our heads. I'm curious to know where this name came from.

[2015-11-29 05:39] abuchanan opened #76 ""Latest" pattern"
Let's say I have a source channel which contains the result of an expensive operation. I have a reader that reads from this source channel every 1 second. I want to read from the source, but only read the latest (or cached) value.

I think there a couple ways to do this:

#### With a custom buffer
[code]

#### With a couple goroutines
[code]

Is one better than the other? I think I like LatestBuff

[2015-12-07 17:07] trusktr commented on #73
I don't see what's wrong with having Promises as an internal implementation
detail. The end user doesn't need to know, right? Can you provide an
example of how not using Promises affects the end user?

/#!/JoePea
On Nov 7, 2015 2:02 PM, "James Long" <notifications@github.com> wrote:

[2015-12-07 17:46] jlongster commented on #73
I have to run, but the error semantics with promises are completely different, and there is additional overhead for stuff that we don't need. We just need a micro-scheduler.

[2015-12-07 20:51] trusktr commented on #73
Is there a performance advantage? Or is it just more convenient to code the implementation without Promises?

[2015-12-08 18:06] jlongster commented on #73
Promises basically run everything in try/catch, plus there is simply other overhead for they involve. As I said, we simply need a micro-scheduler.

Using promises as an implementation detail would not help with async/await because we need our scheduler to be in control. As this point, you can *only* use async/await with promises.

[2015-12-08 18:06] #73 closed

[2015-12-09 01:35] trusktr commented on #73
@jlongster In control of what? It's just that as an end user of the CSP concept, the async/await syntax is simply cleaner, and as an end user I don't really care how it's implemented if it works the same, so I'd obviously pick the simpler/cleaner syntax.

Maybe I just don't see it yet: is there a specific thing that an end user of the generator approach can do that the end user of the async functi

[2015-12-11 20:18] donato commented on #75
:+1:

[2016-01-03 17:29] machty opened #77 "Scoped cancellable goroutines, try-catch-finally proposal"
I'd like to propose some related features/improvements to js-csp that touches on pre-existing discussions on promise interactions (#13) and error handling (#14). These features are:

1. Consider scoping the lifetime of goroutines to parent goroutines when `yield go()` is used
2. Expose a `.kill()` or `.terminate()` fn on the return value of `go()` to make goroutines externally cancellable
3. `yiel

[2016-01-03 17:33] machty commented on #14
Hey everyone, would you mind weighing in on some of the proposals within #77?

[2016-01-03 17:34] machty commented on #13
Hey everyone, would you mind weighing in on some of the proposals within #77?

[2016-01-06 23:33] donato opened #78 "Trouble debugging performance due to message_channel"
I am trying out js-csp for an intensive video processing project - specifically parsing an MPEG-TS stream into h264 video.

When debugging, with this library I lose out on the ability to really dig in, because the chrome tools cannot dig into the ```message_channel.port1.onmessage``` function.

Do you know any tips for this? Might there be an alternative to using message_channel?

![Image of Dev T

[2016-01-09 03:21] machty opened #79 "zero-length buffers?"
Is it conceptually wrong that a `buffers.sliding(0)` or `buffers.dropping(0)` buffer to have the following (identical) behavior:

- if a taker is present, a put will deliver the value directly to the taker
- if no takers are present, any puts will be dropped

This is not the behavior of js-csp today: `buffers.dropping(0)` seems to drop all values even when there is a taker, and `buffers.sliding(0)

[2016-01-09 22:31] tomaskulich commented on #77
Wow, that sounds really great. How does this proposal relate to error handling? Should errors propagate from child go-block to parent go-block? If so, should this happen in the moment when child go-block throws or in the moment when parent go-block `take`s from it?

[2016-01-26 14:17] andershessellund commented on #40
An important difference between CSP and RxJS is that CSP implicitly supports back pressure. Putting to a channel does not complete until the channel is ready to accept more data. In RxJS you do not have any similarly easy means of handling this:

[2016-01-26 22:29] nmn commented on #40
@andershessellund That's a very important point to make.
Other than just back pressure, waiting on puts can have other benefits as well.

There's a reason CSP works extremely well for sync across threads.

[2016-01-29 08:07] ivan-kleshnin commented on #40
@andershessellund, @nmn what do you think of graph-based stream solutions like [flyd](https://github.com/paldepind/flyd) and [Elm](http://elm-lang.org/guide/reactivity)?

[2016-01-29 12:51] lucasmreis commented on #40
I think that the spec of CSP leads to a much simpler API. We can work with channels basically with three or four functions, 90% of the time `go`, `put` and `take`, and achieve very complex results.

Compare that with Rx. The spec is simple too, but it leads to an enormous API. We need to have all those websites to figure out which operator to use in each case, like this one: http://reactivex.io/do

[2016-01-29 13:51] ivan-kleshnin commented on #40
@lucasmreis CSP looks very imperative to me. I wonder if this is that final paradigm we should stop on. You have less operators, that's true, but you have more things to care: workers, channels, imperative loops. I saw a lot of code in CSP and it does not "shine" to me as "clearly superior". We shouldn't really limit ourself to RxJS vs CSP dichotomy because there are other approaches https://www.y

[2016-01-29 14:07] lucasmreis commented on #40
I agree with you - anything can be the best tool until a better one appears :)

Regarding csp being imperative: the code inside a go routine is _synchronous_. You do one thing at a time, and each line of code waits for the last one to finish before running. The good part is that the _whole go routine_ runs asynchronously, and it does not block the main thread if it's waiting for a line of code to

[2016-01-29 15:27] ivan-kleshnin commented on #40
True. Cold vs Hot separation bothers me alot because Hot is conceptually simplier yet requires additional code to "enable" it. But there are no ways to avoid this dichotomy wihout major paradigm shift. Finite streams make no sense without Cold behavior, for example.

[2016-01-29 18:43] nmn commented on #40
@ivan-kleshnin I've heard this argument before that CSP is not functional or something. The fact is that when you use transducers with CSP it is just as functional, if not more functional than RX. That said, what makes CSP awesome is that you CAN use it with imperative loops etc, which is exactly why many people find it easier to learn.

The fact is that with `async function*` proposal, Observable

[2016-01-30 09:19] andershessellund commented on #40
The key differences between CSP and RxJS are:

[2016-01-30 19:15] ivan-kleshnin commented on #40
@nmn you are right, this phrase is not correct.

[2016-02-02 16:34] ivan-kleshnin commented on #40
After I've spend tens of hours inspecting and comparing FRP solutions and even developt a simplified RxJS clone I tend to agree with @nmn, @andershessellund, @jlongster and other CSP advocates.

Yes – It may be objectively said that most FRP implementations are inherently broken. Mostly because of incidental complexity but not limited to.

1) FRP libs have to handle sync and async behavior in para

[2016-02-02 16:56] lucasmreis commented on #40
Very good compilation, nice work!

And it's very interesting to see how Elm was successful implementing it. They selected just enough elements of Haskell _et al_ to make it powerful and simple for this particular task.

[2016-02-02 21:02] ivan-kleshnin commented on #40
@lucasmreis, yeah, thanks for pushing me into right direction. I tried to grok Elm but as API was constantly changed, most examples were broken and I kinda abandoned it then.

Maybe @danyx23 will answer us. For example, I'm curious how to implement "waves" of values in Elm having no nested signals. It's crucial for many animations.

[code]

[2016-02-02 21:57] danyx23 commented on #40
Interesting discussion!

@ivan-kleshnin, the example you posted can't easily be done with Elm AFAIK. As you say, Elm doesn't have "higher order signals" (Signals of Signals) and therefore no operator like flatMap. This comes from the decision that Signals graphs are static, i.e. they don't begin or end. The solution I could think of for this example would have to emit at a high frequency and then

[2016-02-12 18:44] ivan-kleshnin commented on #40
@lucasmreis, what's your opinion on https://github.com/dvlsg/async-csp/ and other attempts to implement CSP on "standard" (more or less) JS toolkit. Can we nail this task without first class channel support?

[2016-02-12 19:58] zeroware commented on #40
@ivan-kleshnin I'd prefer using clojurescript core.async with https://github.com/jcouyang/conjs

reference : https://medium.com/@jcouyang/i-just-fork-mori-and-add-core-async-to-it-3cea689e9259#.km9dvv179

[2016-02-13 00:00] lucasmreis commented on #40
@ivan-kleshnin a couple of weeks ago I started a react native side project, and I decided to try 'async-csp'.

Looks super clean, and I really like using async/await since every other JS library uses promises, and the final code feels more uniform. I also found it easier to explain channels to other js devs with this syntax. Here's how it looks like:

https://github.com/lucasmreis/happymenative/bl

[2016-02-13 06:17] ivan-kleshnin commented on #40
@zeroware I used to be a fan of Clojure but I'm afraid I don't think it's a good language anymore.

@lucasmreis cool! I'll give this library a kick then. JS-CSP seems to take Clojure version of `core.async` too literally. For example, Channel should block on `take` which immediately "sounds like Promise" but it's implemented as part of the Worker instead... Not that separation of concerns I expect

[2016-02-13 09:05] zeroware commented on #40
@ivan-kleshnin I know that clojurescript is not an option. I wouldn't be using js-csp otherwise ;)
I was pointing at  https://github.com/jcouyang/conjs because it's a **vanilla JS library** which is using clojurescript transpiled code on the inside like mori.js.

[2016-02-13 19:23] nmn commented on #40
async-csp looks way better in my opinion.

I'll try it out some time. But I've been burnt a bit by relying on JS-CSP. So, I'm going to wait and watch, and not use any of these libraries unless they become kind of popular.

I've started using RXJS at work instead.

[2016-02-16 07:51] ivan-kleshnin commented on #40
## Waves

### RxJS

With HO streams

[code]

### CSP solution

Without HO channels!

#### Library code

[code]

#### App Code

[code]

[2016-02-17 20:11] lucasmreis commented on #40
I just came accross this library: https://github.com/bbarr/medium

I like this API better than the alternatives. And I particularly like the `repeat` and `repeatTake` idea.

[2016-02-18 09:01] ivan-kleshnin commented on #40
@lucasmreis thanks! Looks interesting. I'll check it out.

[2016-02-28 16:24] #79 closed

[2016-02-28 16:24] #77 closed

[2016-02-28 16:25] machty commented on #77
I eventually realized I needed something pretty different (though related) to js-csp, and a lot of what I proposed here ended up as features of http://ember-concurrency.com

[2016-02-29 10:57] zeroware commented on #77
@machty Yes I immediately thought of js-csp when I saw [ember-concurrency](https://github.com/machty/ember-concurrency).
I wonder why they did not kept more csp semantics

[2016-03-04 14:16] ashnur commented on #68
I am using js-csp with babel just with cli arguments, no `package.json` setting  or `.babelrc`:
[code]
This works 100% :)

[2016-03-15 11:03] XVincentX opened #80 "Include bundled files in npm package"
It would be great if you could include bundled files (`build` directory, to be clear) in the uploaded npm package. It would let us use it from npmcdn!

Thanks!

[2016-04-01 19:26] darrenhaken opened #81 "AJAX Examples"
I was wondering if you could show an example of how to chain multiple AJAX calls as an example?
I'm really interested in using this but I am trying to relate to the problem I'm currently trying to solve.

An example of a promise model would be

ajaxService
.getCustomer()
.getCustomerPermissions()
.then(customer => router.navigate('/customerdetails', customer);

[2016-04-02 14:05] darrenhaken opened #82 "Project active?"
I was wondering if the project is still active as I haven't seen any commits from August last year?

Thanks,

Darren

[2016-04-05 21:05] donato commented on #82
Hey @darrenhaken - I'm using and following this project, if that counts!

[2016-04-06 02:01] darrenhaken commented on #82
@donato That's really useful. Would you be able to show me any examples of using CSP's to chain multiple AJAX requests together? I'd love to see an example of how a chain of AJAX Promises could be converted to using CSP

[2016-04-06 06:11] majnu-campact commented on #82
+1 Love this project!

[2016-04-07 11:18] zeroware commented on #82
I'm using it in a fairly large codebase.
I know that some people prefer the async version : https://github.com/dvlsg/async-csp

[2016-04-07 22:14] darrenhaken commented on #82
@zeroware can you offer any gists showing multiple AJAX requests together with CSP?
I'm curious to see a working example.

[2016-04-19 07:56] kenOfYugen commented on #82
@darrenhaken check this out if you haven't
http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript

It does contain an AJAX example among other things. You can just add as many calls as you want inside the go block.

[2016-04-28 19:41] yosbelms commented on #82
Hey folks I'm making a lightweight "CSP in javascript" library, if you want to take a look at this or any suggestion, here the repo https://github.com/yosbelms/aryn

@darrenhaken the documentation of the library I'm working on has an example using AJAX, may be you want to try it.

[2016-04-29 12:33] donato commented on #82
Awesome, I'll check it out. Have you done any profiling comparisons?

[2016-04-30 17:19] yosbelms commented on #82
@donato, no yet, I'm right now focused in the docs. I'll test *channels performance* soon. I opened a new thread [here](https://github.com/yosbelms/aryn/issues/1) to suggest metrics comparison.

[2016-05-02 10:21] zeroware commented on #82
@yosbelms Great job ! Do you plan on adding transducers support like js-csp ?

[2016-05-03 18:03] yosbelms commented on #82
@zeroware, Actually you can use a `transformer` function, for example:
[code]
Both, channels and streams supports `tranformers`, that is just a function to transform arriving values. It is an open door to link with tranducers, underscore, lodash or any related lib.

[2016-05-21 16:03] darrencruse commented on #75
Late to this discussion but nobody mentioned that "alts" is the name Clojure's core.async uses I'd assumed that's where ubolonton took the name from:  https://clojuredocs.org/clojure.core.async/alts!

(where Clojure core.async got the name from I don't know!  Though "alts" works fine me I kind of liked golang's "select" since it reminds me of "select" with socket programming:  https://gobyexample.

[2016-07-06 17:05] bgnorlov opened #84 "Task doesn't wait until another task process action"
Let's say I have some global state in my app and I implemented in a form of csp process one middleware which logging state and another middleware which handle action through the channel and mutate state.

[code]

But after I putting some data to channel loggingMiddleware doesn't wait until another task process this data and I am getting this log:

[code]

[2016-07-08 13:47] yosbelms commented on #84
Looks little odd, this might be related to the scheduler, but I have ported your code from `js-csp` to [getjs](https://github.com/yosbelms/getjs) ,a library I've started coding few months ago, I got the following log:
[code]

Is this the result you are looking for?

[2016-07-08 15:14] yosbelms commented on #84
Here the ported code:
[code]

[2016-07-08 15:15] bgnorlov commented on #84
@yosbelms, yeah, exactly. It seems like a bug with implementations but maybe there's an explanation for this behavior. I also tried with async-csp project but there is the same problem.

[2016-07-08 15:56] yosbelms commented on #84
I've got even better result using [Cor](https://github.com/yosbelms/cor) check out the output:
[code]

You can see the code running [here](http://yosbelms.github.io/cor/docs/playground/index.html#link:ch%20%3D%20chan()%0AglobalState%20%3D%20(foo%3A%20'bar'%2C%20type%3A%20nil)%0A%0A%0Afunc%20loggingMiddleware()%20go%20%7B%0A%20%20%20%20for%20%7B%0A%20%20%20%20%20%20%20%20console.log('loggingMiddlew

[2016-07-08 16:04] yosbelms commented on #84
@bgnorlov `getjs` and `Cor` both implements CSP, I feel CSP is very powerfull because it allows to design concurrency paterns in a more straightforward way than FRP, Promises, and callbacks, or any combination of it.

[2016-07-14 07:51] mocheng opened #85 "js-csp ruins webpack UglifyJsPlugin"
This sounds crazy but it is true.

In my project, I install js-csp by npm and the version is 0.5.0. The webpack config use UglifyJsPlugin to minify bundle js.

[code]

When the code doesn't include js-csp, it is OK. After include js-csp, the UglifyJsPlugin just doesn't work. The generated bunde.js is not minified at all.
[code]

Is there any code snippet that is silver bullet to kill UglifyJS?

[2016-07-14 15:34] yosbelms commented on #85
@mocheng This looks like a bug of UglifyJs or Webpack, not of `js-csp`

[2016-07-15 00:43] mocheng commented on #85
Just wondering, how do people include js-csp in node? I suppose I'm not alone for this problem.

[2016-07-15 05:42] mocheng opened #86 "`spawn` doc is not clear"
The doc about `spawn` is really hard to understand. I don't get it until I read the source code.

https://github.com/ubolonton/js-csp/blob/master/doc/basic.md

I suppose it can be improved to be states like "Similar to go, but takes a generator object instead of generator function".

[2016-08-21 07:01] hung-phan commented on #85
Have you tried this one?

[code]

[2016-08-23 15:33] gt3 commented on #85
@mocheng UglifyJS has had some major changes... see if using the "latest" webpack will resolve this for you.
[code]

[2016-08-23 15:48] hung-phan commented on #85
actually, I just update the project. Can you check if you still have this problem? @mocheng

[2016-09-04 08:25] XVincentX commented on #80
This has been fixed! Thanks a lot!

[2016-09-04 08:25] #80 closed

[2016-09-04 08:43] XVincentX commented on #82
It seems like @mocheng is actively working on it again! Could you confirm?

[2016-09-04 08:58] hung-phan commented on #82
Uhm, @XVincentX.

[2016-09-04 09:00] XVincentX commented on #82
Should I take that as a yes?

[2016-09-04 09:02] hung-phan commented on #82
Yup. 😄

[2016-09-04 09:03] XVincentX commented on #82
Great! Thanks a lot for clarifying that! I’d close the issue then so people don’t get any trouble!

[2016-09-06 01:45] #82 closed

[2016-09-09 06:52] jiyinyiyong commented on #40
@ivan-kleshnin in Clojure, `[]` is a vector and `'()` is a linked list. For vectors. New elements are `conj`ed like behind, while for linked lists, new elements are like prepended. And more often we use `(cons x1 '(x2 x3))` to add new elements in the head. And `'()` is somehow lazy and yes it's strange.

[2016-09-12 17:54] hung-phan commented on #68
Closed this now. You don't need to apply transform to js-csp any more. It is already done for you.

[2016-09-12 17:54] #68 closed

[2016-09-15 22:45] rchanou opened #99 "Direct ES6-style import of csp module fails"
Very low priority. After upgrading from 0.5.0 to 0.7.0, `import csp from 'js-csp'` fails to import, I think because no default export is defined. When I try to use a method such as `csp.chan()`, I will get an error like `Uncaught TypeError: Cannot read property 'chan' of undefined`.

I can easily work around it with `import * as csp from 'js-csp'`.

[2016-09-16 09:16] hung-phan commented on #99
I think this is expected behavior if you want to optimize the usage for tree shaking. You should use destructuring to get the feature you want.

[2016-09-16 09:16] #99 closed

[2016-09-16 09:18] hung-phan commented on #99
I will update the doc at weekend. Thanks @rchanou

[2016-09-16 14:29] rchanou commented on #99
Oh, cool! I've been meaning to look into that optimization. Thanks for picking up maintenance on this lib!

[2016-09-17 02:17] #85 closed

[2016-09-17 02:18] hung-phan commented on #85
Feel free to reopen if you still have the problem

[2016-09-17 04:13] hung-phan commented on #81
This is an example from my old project. You can use fetch instead of superagent

request.js
[code]

example.js
[code]

[2016-09-17 04:13] #81 closed

[2016-10-07 14:51] adampotocki opened #101 "having an issue with rollup"
I'm using rollup with the rollup-plugin-flow to remove flow types from js-csp, and getting the following error:

[code]

Any advice?

Here is my rollup.config.js:

[code]

[2016-10-07 15:39] hung-phan commented on #101
I will check on that thanks @adampotocki.

[2016-10-08 07:19] hung-phan commented on #101
@adampotocki Can you try with version v0.7.4?

[2016-10-08 07:20] hung-phan commented on #101
https://github.com/ubolonton/js-csp/commit/7b135eacf824235d648f84b9f32503691fe70548

[2016-10-08 19:43] adampotocki commented on #101
works great now :)

[2016-10-08 19:44] adampotocki commented on #101
thanks!

[2016-10-09 05:33] #101 closed

[2016-10-14 05:32] yrns commented on #84
@bgnorlov The `put` in the first process does not park because the channel is empty (since you just did a `take` on it). So you are getting the "after" before the "receive". You are putting and taking on the same channel with two competing processes - it might be more straightforward to use two channels, or a mult.

For my own edification I tried your example in go:

[code]

I got the [same result

[2016-10-19 03:04] montlsC opened #103 "How to get the number of unprocessed message when I use buffers.fiexed(n)"
[code]

[2016-10-19 03:51] hung-phan commented on #103
Wow 😅 @montlsC . Can you post the your code here?

[2016-10-19 03:55] hung-phan commented on #103
As far as I know, buffers.fixed(n) will create a buffer here https://github.com/ubolonton/js-csp/blob/master/src/impl/buffers.js. Then, you can use the count() to know unprocessed messages. @montlsC

[2016-10-19 03:58] hung-phan commented on #103
Example code,

[code]

[2016-10-19 05:02] hung-phan commented on #103
Oh, sorry wrong answer. The unprocessed message is in the takes property of chan. But the given example above will return 1024.

[code]

[2016-10-19 05:03] hung-phan commented on #103
@montlsC can you give me your usecase? So I can understand it.

[2016-10-19 05:28] montlsC commented on #103
@hung-phan OK，this is a simplified version.

[code]

[2016-10-24 15:10] hung-phan commented on #103
I am quite busy for new projects last week, hope that I can nail this one at this weekend. Sorry for keep you waiting @montlsC.

[2016-10-30 09:52] hung-phan commented on #103
Hi @montlsC, I ran your code against the clojure core.async or go and it has the same problem.

[code]

What I will suggest is that you have only 1 go block for the testChan, for example:

[code]

[2016-10-30 15:59] #86 closed

[2016-11-01 10:14] montlsC commented on #103
thanks, I get it.

[2016-11-02 03:15] #103 closed

[2016-11-20 10:09] tomaskulich commented on #14
Hi, I've been following this project and especially this issue for some time. I've spent quite some time figuring out what the semantics of error-handling and forced termination should be. The result is:

https://github.com/vacuumlabs/yacol/

The main difference is, that I separated concepts of goroutine result and channels. In other words, goroutine return one simple value and may get to error st

[2016-12-05 08:31] tmtxt opened #109 "putAsync/takeAsync should return a Promise"
Just like their names, these functions should return a Promise
- putAsync
- takeAsync (maybe when no callback function specified)

Use with es7 async/await function

[code]

Use with other libraries like co
[code]

[2016-12-15 09:49] XVincentX commented on #109
I totally agree with this - I would probably get rid of the callbacks completely, but that would be a breaking change
@hung-phan - any thoughts from your side?

[2016-12-15 10:07] hung-phan commented on #109
Quite a big change, but let me see if I could support it. By the way, I don't use putAsync much, I usually just create a go block and use put.

[2016-12-15 10:09] XVincentX commented on #109
From my personal side, I also do not use it that much (there are some edge cases where I should).

Just out of curiosity, are you using `js-csp` in production somewhere? Are you willing to share some informations, eventually @hung-phan

[2016-12-15 10:19] hung-phan commented on #109
Ah I just use it for some companies project (not open-source) to handle complex state. For example, implement the behavior of Om cursor (but I think they already go with query expression) to control the application state, implement pubsub like flux, or use it with redux.

[2016-12-15 10:37] tmtxt commented on #109
Many projects are already written in koa/co (in our company projects) and it's would be nice if we can still follow our own coding style instead of wrapping inside one `go` block (1 more nested level).

Btw, `js-csp` can be helpful in batch processing and memory constraint environment where we would force one task to wait for another task to finish processing the data before it can continue (or dr

[2016-12-15 11:01] ubolonton commented on #109
One way to go about this is to provide alternatives to `process.js`, which integrate with different coroutine systems instead of implementing one (which is basically what `process.js` does), then make the choice configurable somehow. Most of the integration should be straightforward, except for how errors are handled/propagated.

[2016-12-24 08:30] XVincentX commented on #109
Does anybody of you have nice experience of using CSP to handle complex User Interface scenarios?

[2016-12-24 08:41] hung-phan commented on #109
yes

[2016-12-24 13:43] XVincentX commented on #109
@hung-phan Cool - are you willing to share some informations? I would be really interested.

[2017-01-01 00:33] gt3 opened #110 "timers cleanup"
Current implementation of Timers (with setTimeout) keeps the host process running for the specified delay.
[code]
[_**alts**_](https://github.com/ubolonton/js-csp/blob/master/doc/basic.md#yield-altsoperations-options)  - To reproduce, use this example from the docs. Run in Node repl.

And here's is my proposal to fix it without breaking changes:
1. Keep track of the timer along with the returned c

[2017-01-01 01:16] hung-phan commented on #110
Seem interesting. Is there any use case we want to do that? We can close the channel before setTimeout being triggered, but is there any reason we want this optimization? For me, call ch.close() multiple time won't affect the logic at all. 🤔

[2017-01-01 03:22] gt3 commented on #110
Just to clarify, channel closing should be done explicitly by the user, when required, which should indirectly (automatically) clear the timer.

I was trying to use alts to manage async sources with a request timeout when I stumbled upon this error. Jest tests took forever to complete since there was alts + timeout in my test suite. Then I tried [_alts_](https://github.com/ubolonton/js-csp/blob/ma

[2017-01-01 04:15] hung-phan commented on #110
Don't quite understand the purpose behind this improvement. Is there any reason we want this instead of just passing test?

https://github.com/clojure/core.async/blob/master/src/main/clojure/cljs/core/async/impl/dispatch.cljs#L35

[2017-01-01 04:28] gt3 opened #112 "v1.0 roadmap?"
I've been following this project for past few months now. I'm sure there are others like me in the community who would also like to see this project gain momentum and finally achieve production-ready status.

Let's start by making a list of tasks on the _critical path_ to <<1.0>> so we can better focus our resources on shipping out a stable product first. I'd like to ask primary contributors - @ub

[2017-01-01 17:41] gt3 commented on #110
@hung-phan I've created a gist to demonstrate my point but I think you get the idea. If we are closing the channel why not clear the timeout?

I am not sure why it isn't handled in cljs. In the link you've described timer handle is returned from queue-delay but that's the only difference I could find.
https://github.com/clojure/core.async/blob/f8e87e1625b1660b7f3b0aea044aad1327441741/src/main/cloj

[2017-01-01 17:41] gt3 commented on #110
Here's the gist: https://gist.github.com/gt3/a7db07ef7a0db0dd6c1bcd0fef2ec6a8

[2017-01-02 01:47] hung-phan commented on #110
The example in the gist you give is different than your point. This is the first channel in `yield csp.timeout(1000);`, and this is the second channel `const cancel = csp.timeout(300);`. Why do we need to close the first channel when the second channel is close?

If you need an example, it can be like this.

[code]

The last go block will be true.

[2017-01-02 02:01] hung-phan commented on #110
I can understand the above situation why we want to clear the timer when we try to close the channel? However, the only use case for this improvement is `process.on('exit')`. And the logic is not affected.

[code]

[2017-01-02 02:25] gt3 commented on #110
@hung-phan  It is more about fixing the bug than addressing a use case. Our code should be able to run in the target environment without side effects.  As it stands right now, select/alts + timeout produces unexpected behavior.  I tried to use the example from the docs but yours is more fitting.  Thanks for sharing it.

[2017-01-03 00:57] hung-phan commented on #112
1. https://github.com/ubolonton/js-csp/issues/109
2. Refactor channel and process implementation
3. Implement promise channel
4. Handle error in channel

[2017-01-03 01:20] gt3 commented on #112
I'll also add that we need to fix code styling and perhaps take another look at eslint rules that are currently applied (biggest one on my mind is ";") :)

[2017-01-11 20:23] corporatepiyush commented on #109
@XVincentX refer this article for using CSP in UI with ReactJS
http://lucasmreis.github.io/blog/using-csp-as-application-architecture/

[2017-01-26 00:22] gt3 commented on #112
@hung-phan @ubolonton

I was referring to these types of issues:

[code]
One of the first code snippets from docs does not produce expected output!

[2017-01-26 03:44] hung-phan commented on #112
Thanks @gt3, checking.

[2017-01-26 03:49] hung-phan commented on #112
[code]

🤔

[2017-01-26 04:10] gt3 commented on #112
Technically the rendezvous should work as described in the docs.

I believe this is a drawback of using callbacks. We might need something lazier?

I checked 0.5 with the same results. @ubolonton ?

[2017-02-05 19:23] gt3 opened #113 "Adept build process to work on Windows"
npm scripts [fail to run on Windows](https://gist.github.com/gt3/f70cfe566838f9ab1245ab813946d31d): install, build, coverage

[2017-02-06 02:38] #113 closed

[2017-02-07 04:06] #84 closed

[2017-02-07 07:58] gt3 opened #115 "Reduce distribution file size"
Current distribution bundle size (build/csp.min.js) is ~65kb and /lib size is ~73kb

Two major wins by:
- removing lodash shuffle (29kb)
- produce an es6 build for modern browsers (and node)
  - minify es6 with Babili

[2017-02-07 07:59] gt3 opened #116 "Remove lodash dependency"
remove lodash dependency to get manageable file size - see #115

[2017-02-09 02:07] gt3 commented on #116
We can keep lodash in by replacing shuffle with internal _arrayShuffle (see [comment](https://github.com/ubolonton/js-csp/pull/117#issuecomment-278331107))

[2017-02-09 02:07] #116 closed

[2017-02-09 16:30] gt3 commented on #115
Fixed #117

[2017-02-09 16:30] #115 closed

[2017-02-23 11:16] ducin opened #118 "getting started - how to run examples?"
Many thanks for creating this _promising_ library!

I'm trying to run examples and I fall into some build-related issues. After cloning js-csp, I ran `npm instal` which triggers a lot other tasks via prepublish.

The question is - how can I run examples, such as `examples/go/pingpong.js`? I tried this and got an error:

[code]

What am I doing wrong here? Guess it'd be useful for newcomers to add

[2017-02-23 11:41] ducin opened #119 "[question] take/put vs JS event loop"
This is a question about the implementation of js-csp:

*Are the communication callbacks (take/put) executed synchronously or asynchronously?*

Facts:
* yield freezes the ES6 generator
* yield csp.take() makes the goroutine wait for an item to be available on a channel
* another goroutine feeds the channel with an item via yield csp.put()

In other words, if a goroutine A executes csp.put(ch1, ite

[2017-02-23 14:13] hung-phan commented on #118
Run `npm run build` first, then try it again

[2017-02-23 14:15] hung-phan commented on #119
Yes, via `setImmediate`

[2017-02-23 14:15] hung-phan commented on #119
See the implementation of setImmediate at babel-runtime/core-js/set-immediate
https://github.com/zloirock/core-js/blob/e482646353b489e200a5ecccca6af5c01f0b4ef2/library/modules/_task.js
Under the hood, it will use process.nextTick, MessageChannel, and fallback to setTimeout

[2017-03-23 16:58] zzo opened #120 "cannot 'npm run build' on linux or mac"
On both platforms - v0.9.3:
The '^' pointing out the error is under the 't' in 'type'.  I'm only interested in using this with node not the browser FWIW thanks!
 Mark

SyntaxError: src/csp.core.js: Unexpected token (2:12)
  1 | // @flow

     \|  \  \  \  \  \ \  \  ^
  3 | import { fixed, promise } from './impl/buffers';
  4 | import { putThenCallback, Process } from './impl/process';
  5 | impor

[2017-03-23 17:03] zzo commented on #120
looking at it a bit more babel doesn't like the type annotations - does flow or equivalent need to run first to get rid of those?

[2017-03-23 17:20] zzo commented on #120
Ok I made this change to package.json to get it working:

`"babel:node": "babel --plugins=transform-class-properties,transform-es2015-modules-commonjs,transform-flow-strip-types -d lib src",`

how it was working before for others I have no idea :)

[2017-03-23 17:22] zzo commented on #120
ah I see there's a .babelrc in the github repo that's not distributed with the npm package?  that's inconvenient :(

[2017-03-23 17:22] #120 closed

[2017-03-23 17:29] gt3 commented on #120
@zzo if you want to build from source, target the repo, not the package. Btw - latest package is v0.9.2

if you want to give it a shot on master (once you've pulled):
`npm run build:current:dist` (should suffice for node) or `npm run build`

[2017-03-23 18:21] zzo commented on #120
ok thanks! :)

[2017-04-01 16:19] gt3 opened #121 "Determine whether an object is a Channel"
The library should export a static method `isChan(chan) => t|f` to validate channel type.

[code]
A cleaner way would be to wrap this in a utility function exposed by the library:
[code]
Helpful when channels are being passed around.

[2017-04-03 15:29] #121 closed

[2017-05-05 01:53] Cpt0r opened #125 "External termination of goroutines"
As discussed in https://github.com/ubolonton/js-csp/issues/77, I too am in need of a `.kill()` method to dispense with unnecessary `alts` or control var checking in every goroutine.

As the above PR was closed because the OP was no longer interested I'd like to reopen discussion for this feature - but am not particularly interested in the other features of that PR.

What would it take?  Happy to h

[2017-05-05 02:58] gt3 commented on #125
@Cpt0r Could you provide a concise code snippet to better understand your use case?

[2017-05-05 02:59] hung-phan commented on #125
This is an example

[code]

[2017-05-05 05:09] Cpt0r opened #126 "Exception unhandling"
Is it necessary to have goroutines wrapped in a `try/catch` block?

Currently if an exception is thrown in a goroutine there is no way to pause execution at the source of the exception to inspect state, instead it always stops here:

[code]

with this stack trace:
<img width="204" alt="screen shot 2017-05-05 at 13 39 05" src="https://cloud.githubusercontent.com/assets/8690075/25733170/db7854da-319

[2017-05-17 17:26] justin-calleja commented on #118
I have tried `npm i` followed by `npm run build` as well as `yarn` which builds when getting the deps. In both cases, trying to run the following example gives:

[code]

Seems to be a Babel issue. Could there be something installed on your system globally which I don't have?

[2017-05-17 18:39] gt3 commented on #118
@justin-calleja @ducin  Path issue resolved in branch: [fix-examples-import-path](https://github.com/ubolonton/js-csp/tree/fix-examples-import-path)

I agree we should document setup and build instructions more thoroughly, and use more pragmatic examples for new comers. Any ideas?

[2017-05-17 19:58] justin-calleja commented on #118
@gt3 thanks! Really liking CSP :)

Only got one idea: I've just used this project to exhaust a paginated REST API. I can try to generalise it ... or maybe use it against Github's public API. Would that be a good example?

[2017-05-17 20:31] gt3 commented on #118
Interesting.. do write a line or two on the solution you came up with using Channels. It would be beneficial to you and the community.

Regarding a future example, I would like to showcase how channels can help synchronize state in an interactive web app. I am sure we can come up with more and better ideas.

[2017-05-18 02:13] gt3 commented on #118
#127 fixed paths

[2017-05-18 02:13] #118 closed

[2017-05-21 16:29] justin-calleja commented on #118
@gt3 I published a blog post re the above: https://medium.com/@calleja.justin/getting-started-with-js-csp-232548ef94ce

[2017-06-15 10:46] ioRekz opened #128 "react create app uglify errror"
Hello,
I'm using js-csp in an react create app project.
If I do import like
`import csp from "js-csp"` like I do for the rest,

csp will be undefined.

If I do
`const csp = require("js-csp")`

it will work ok in dev but make an error while doing the prod build
yarn build :
`static/js/main.8ef08498.js from UglifyJs
SyntaxError: Unexpected token: name (Channel) [./~/js-csp/lib/js-csp.js:105,0]`

Any

[2017-06-15 13:31] hung-phan commented on #128
I think the reason is that createReactApp doesn't transform code in node_modules/js-csp, and the version we compile to is using es6 `class` feature. The short answer is that you can use js-csp/dist in the meantime. The long answer is wait for our support or do it yourself by modifying webpack config as this.

[code]

/cc @ioRekz

[2017-06-15 21:53] gt3 commented on #128
it seems cra is also considering moving to `uglify-es`
https://github.com/facebookincubator/create-react-app/issues/2108

[2017-06-15 22:48] gt3 commented on #128
@ioRekz js-csp does not have a default export, could you try `import * as csp from "js-csp"`

[2017-06-20 09:15] ioRekz commented on #128
Sorry forgot to answer ! I'll use the dist in the mean time. I would like to avoid ejecting on my cra project so Im limited in options.
I may try something like https://github.com/timarney/react-app-rewired if it doesnt bring to much complexity.

Also import * is working better, thanks !
Feel free to close the issue

[2017-06-20 14:21] #128 closed

[2017-07-05 07:03] Cpt0r opened #129 "Major bug: proc is yielding first pending value when channel is closed but skipping the rest"
Here's a simple example to reproduce the unexpected - and arguably wrong - behaviour:

[code]

Output:

closed: true, value: null

If you put the values and close the channel **before** launching the proc then the output is as expected:

Real world scenario:
Because js-csp has no `.kill()` method (as per https://github.com/ubolonton/js-csp/issues/125) we currently use a custom util for creating ch

[2017-07-05 14:22] gt3 commented on #129
@Cpt0r  This is ok. I should clarify:

- `go` block allows you to synchronize your data
  - the `put` succeeds when there is a pending `take` (in the case of unbuffered chan)
- `putAsync` and `close` operate asynchronously

[2017-07-06 01:00] Cpt0r commented on #129
A few points:

1.
Wow, `close` being async is quite an important hidden detail, no one in our team even suspected this might be the case.  I'm sure this will trip up others, I'd communicate this design decision clearly and loudly in the docs.

The only thing I found was:

Since there are no buffers in the above example then `CLOSED` is the expected value.

2.
In any case if `close` is async then `

[2017-07-06 01:15] gt3 commented on #129
I see the confusion but try to avoid using `ch.closed` since it is not part of the API and hence not documented. I should've said that earlier.
I'd suggest checking for values: `value === csp.CLOSED` as shown in the examples and docs. Hard to go wrong here.
Let me know if you're able to turn the problem around.

[2017-07-06 01:26] Cpt0r commented on #129
Hard to go wrong?  Please read my original description thoroughly - have you tried running my example?

Checking the value is exactly what this has been about from the start - and that's precisely what isn't working, which is why I'm forced to use `.isClosed()`.

[code]

[2017-07-06 01:41] gt3 commented on #129
I cannot comment on your use case. I understand the confusion behind `close` but this is how CSP works. You cannot use this library as an event emitter for example.

The good part is that: you are in complete control of how to setup synchronization

Do you mind sharing an actual working example of your code with your requirements? Given your timeline, it'll be easier to have a pair of eyes review

[2017-07-06 01:43] hung-phan commented on #129
Let open this for discussion. I am quite busy recently, will look at it in the evening.

[2017-07-06 01:48] hung-phan commented on #129
In the meantime, @Cpt0r can you describe your problem so we can understand your use case? It would help us to have a quick workaround for you or build a long term solution for it.

[2017-07-07 02:04] Cpt0r commented on #129
A game listens to mouse events captured into unbuffered channels.  on each event it does something to the world.

here's whats happening:
1st event loop:
- mouse click detected, callback fired, event captured into channel
- a destroy callback is also (subsequently) triggered, executes shutdown method which:
  - loops through all channels and calls `close` - which was assumed to be synchronous
  -

[2017-07-07 02:15] hung-phan commented on #129
Agree, I think we would want to update our docs and our impls in the near future to avoid any confusions.

[2017-07-07 05:21] gt3 commented on #129
@Cpt0r Thanks for sharing your code.

Your solution:

[code]

I just wanted to point out that if `goproc get a value, changes world one last time` runs asynchronously, you are still in the same place.

This is the very problem that I was referring to in my previous comments.

- Do not use status of channel to setup control flow
- Status of channel is used to safeguard against *future* put operatio

[2017-07-08 01:03] andrewkmin opened #130 "High level explanation"
Can someone direct me to a very high-level explanation of JS-CSP? Stumbled upon it while looking at communication between React components. Thanks.

[2017-07-08 01:17] gt3 commented on #130
Just putting out few links that helped me when I first started. I'd start bottom up.

- http://jlongster.com/Taming-the-Asynchronous-Beast-with-CSP-in-JavaScript by @jlongster
- http://lucasmreis.github.io/blog/quick-introduction-to-csp-in-javascript/ by @lucasmreis

- https://medium.com/@_ankitp/gentle-introduction-to-channels-in-javascript-f4ddf6c17454 (shameless plug :smirk:)
- http://clojure.c

[2017-07-08 14:15] hung-phan commented on #129
@Cpt0r if your checkout this pr https://github.com/ubolonton/js-csp/pull/131/files. it will have your example there, and it will have this result if you try to run it:

[code]

[2017-07-08 16:34] gt3 commented on #110
@hung-phan we should resolve this bug, it is coming in the way more often for us in **production**

see pr: #111

[2017-07-08 16:36] #119 closed

[2017-07-09 18:47] lsenta commented on #76
Thanks for sharing, I needed this to expose the current payload of a system of channels / streams.

The 2017 version, with flow + es6, jest tests below
[code]

[code]

[2017-07-10 02:05] Cpt0r commented on #129
@hung-phan latest master logs all pending values now instead of just one, so that bug is fixed - however, how does all this now reflect on this PR https://github.com/ubolonton/js-csp/issues/63?

It seems that now js-csp behaves like core.async semantics.  In fact I ran the code in that PR and it behaves as expected ie. values are **not** being flushed.

So is this statement by @ubolonton still val

[2017-07-10 02:35] hung-phan commented on #129
On reflection, I think

[code]

it should work the same way as clojurescript to avoid any confusion.

[2017-07-10 02:37] hung-phan commented on #129
@Cpt0r you can try to run the example in #63 with the latest change from 1.0.0? I think it will work as expected

[2017-07-10 02:38] hung-phan commented on #129
Feel free to close or discuss the issue more on this

[2017-07-10 02:38] hung-phan commented on #63
Solved by https://github.com/ubolonton/js-csp/pull/131

[2017-07-10 02:38] #63 closed

[2017-07-10 02:58] Cpt0r commented on #129
That's what I meant, with the 1.0.0 fix in place the example in that PR works as it would in core.async.

But this means I need to rethink my mental model of controlling long-lived procs - as I cannot use channel closing as a control method (which I was lead to believe I could after reading #63 and the docs on the `close` command) - which btw should be updated to clarify that all pending values ar

[2017-07-10 02:59] gt3 commented on #129
@hung-phan I don't think we should violate either of these CSP principles:
- Put on a channel succeeds if and only if there is a pending take
- Once the channel is closed, future puts cannot succeed

While this code does not satisfy, the below version will:

:white_check_mark:
[code]
Either way, we have to vet this thoroughly.  Just following cljs might not be always the right approach.

[2017-07-10 03:03] gt3 commented on #129
I harmonize with @Cpt0r  on this. We need to make the exiting part more subtle. I have a feeling generators are not sufficient to solve this. We need to look further.

[2017-07-10 15:00] ubolonton commented on #129
Thanks for keeping the project going. I'm no longer using Javascript, just jumping in the discussions once in a while. Here are my notes regarding this:
- It was my mistake for not writing better documentation. We should improve that by:
   + Clearly explaining the behavior of closing channels with regard to pending/buffered reads/writes, with examples of how to correctly design processes/channels

[2017-07-10 15:04] gt3 commented on #129
@ubolonton Perspective from the author really helps. Thanks for sharing!

[2017-07-10 15:08] gt3 commented on #129
@hung-phan We should tackle this right now since we're deep into the conversation. Do you want me to do it?

[2017-07-10 15:30] hung-phan commented on #129
Yes, we should update our documentation, and change ch.closed to ch._markedForClose 😄

[2017-07-10 15:33] gt3 commented on #129
I'll get the pr in today.

[2017-07-10 17:13] andrewkmin commented on #130
Blesssss haha thank you so much! Will check those links out. @gt3

[2017-07-10 18:00] #130 closed

[2017-07-16 01:15] gt3 commented on #129
@hung-phan More than that needs to change now (or reverted) since your recent commits to master.  I cannot work off master until we discuss what those commits entail. See my [comment](https://github.com/ubolonton/js-csp/issues/129#issuecomment-313990156). Plus there is no documentation.

For major changes, we should follow process (PR, reviews, etc.) for the integrity of the project and at the ver

[2017-07-17 04:37] hung-phan commented on #129
I think the best way is to ask core.async or go mailing list channel to see why they choose to implement that behaviours instead of the spec for CSP. Having more details or information can be useful for us to decide what to do next. I think they must have some reasons why they prefer to do that instead of the other way around. My guess is that the lib was created to solve some real problems which

[2017-07-17 14:34] gt3 commented on #129
As far as I know, there is no such spec. Go and Clojure (core.async) are in a different league. They don't have the same limitations as we do in JavaScript, so they do not rely on hacks. Use of `setImmediate` and implementation of `putAsync` in `js-csp` are good examples of the limitations in the language.

Now cljs is a different story. As @ubolonton suggested we should raise our concerns there,

[2017-07-18 02:06] hung-phan commented on #129
Ah no worries, @gt3 you can rollback the code to previous version, then raise the concerns to core.async mailing list.

[2017-07-18 02:38] hung-phan commented on #129
Ah 1 more discussion I have with @ubolonton,

This is the doc for close! in core.async:

[code]

/cc @gt3

CSP principles:

[code]

I don't think it violates any of that, given the example from @Cpt0r.

[code]

`putAsync` and `close` and asynchronous, so we don't guarantee the order of execution but seems like all putAsyncs success before channel close. What I update is `Data in the channel remain

[2017-07-18 03:09] gt3 commented on #129
The real problem we are trying to address in JavaScript is: `scheduling`. I made a comment earlier about generators not being optimum fit for these kinds of situations... we need a better continuation story. I want to dig into React's fiber implementation to find a better alternative.  But if anyone has good resources on the subject, I'd appreciated the heads up.

@hung-phan I'll check master, run

[2017-07-18 03:42] hung-phan commented on #129
I read this one http://makersden.io/blog/look-inside-fiber/. Sounds similar to what we are doing with dispatcher.

[2017-07-18 03:52] gt3 commented on #129
This looks good but like many articles it is focused on React.  I want to learn more about the hacks (one level deeper).. like what techniques are used to manage stack frames if not generators.

[2017-07-19 03:20] frankandrobot opened #132 "Destructuring missing in transpilation?"
Using node v4.6.0.
When I try to run the example, I get this error:
[code]

That's because you also need to transpile the destructuring usage.

[2017-07-19 04:05] #132 closed

[2017-07-19 04:51] frankandrobot opened #133 "BaconJS examples?"
In the docs you ask for help porting over the BaconJS examples. Any particular examples you had an mind? Note that we would need to add a `debounce` as streams/observables make extensive use of debouncing streams.

[2017-07-19 09:19] hung-phan commented on #133
Hi @frankandrobot, I would love if you can have a look at `distinctUntilChanged`. I think it is a good example to start with, and I would love to see any idea on this one

[code]

[2017-07-21 02:24] hung-phan commented on #133
I think you can create a PR with your implementation into the examples folder. It would be easier for anyone to review

[2017-07-22 00:13] gt3 opened #134 "bug related to close in v1"
close related bug introduced in commit 889a522, request to rollback

jsfiddle test cases below (check console output):
- Prior [version 9.3](https://jsfiddle.net/cheekyiscool/65wqfzh1/)
- Current [version 1.0](https://jsfiddle.net/cheekyiscool/Lqgdw2j5/)

Takeaways:
1. Create a PR and have it reviewed before introducing new features
2. Create a branch/PR for each feature separately
3. A *reality c

[2017-07-22 04:31] hung-phan commented on #134
I don't really see the problem there. Can you elaborate what is wrong? I see another problem with inconsistency and will fix it in another PR. Please refer to https://github.com/ubolonton/js-csp/issues/129#issuecomment-315941569

<img width="592" alt="screen shot 2017-07-22 at 12 26 37 pm" src="https://user-images.githubusercontent.com/3093244/28488256-3e5df29a-6ed9-11e7-9169-8bd96dd533e0.png">

R

[2017-07-22 04:34] hung-phan commented on #134
If scheduling is a problem, can we try to replace it with sth more robust?

[2017-07-22 04:42] gt3 commented on #134
@hung-phan failing assertion in v1 is the problem (see console).. it means put occurs after close is invoked which it should *not*. Contradicts my comment in #129 (see below):

I hope I was able to drive my point across.

[2017-07-22 04:51] gt3 commented on #134
We can work on finding a better alternative but first need to resolve this on master asap.

[2017-07-22 04:51] hung-phan commented on #134
No don't think that is the case. It is the same case as this.

[code]

What I see is:

`putAsync` and `close` and asynchronous, so we don't guarantee the order of execution. `offer` is a non-blocking take action is not guarantee either. If sth makes sense, it would be:

[code]

[2017-07-22 04:54] gt3 commented on #134
There should be a guarantee that after calling close, future puts won't succeed. This used to be the case, now (after your commits) it's not.

[2017-07-22 04:56] hung-phan commented on #134
Can you give an example of future puts succeed after the channel is closed?

[2017-07-22 04:56] hung-phan commented on #134
Your example is taking from a close channel.

[2017-07-22 05:02] gt3 commented on #134
Trying to *make* the chan behave in a "buffered" context is not right. If the chan was buffered the put would succeed immediately, and that would be ok. In your case, you are blurring the line between buffered and unbuffered chans.

poll after the close call should produce value `42` if the chan was buffered but since it is not put of 42 should *never* succeed in the absence of a take before close

[2017-07-22 05:13] gt3 commented on #134
@hung-phan btw I am not saying we don't need to look at alternative solutions, only suggesting that these recent changes should be reviewed carefully so they make sense as a whole, and don't try to address a single use case.

[2017-07-22 05:16] gt3 commented on #134
I've been putting out fires for past few days. You cannot imagine my position in trying to sell this product to (an already confused) team. Failing tests don't help, and the *fatigue* just makes the matter worse.

[2017-07-22 05:21] hung-phan commented on #134
Ah yes, my last example is wrong

[code]

Just my assumption, on a execution context. I believe many developers see `close` would expect it to close immediately.

<img width="543" alt="screen shot 2017-07-22 at 1 13 12 pm" src="https://user-images.githubusercontent.com/3093244/28488571-98ba21d6-6edf-11e7-9c91-b3b44ebed256.png">

I understand, what I try to explain to you is that they are 2 differe

[2017-07-22 05:23] hung-phan commented on #134
Ah I don't understand what your last comment means in this context. It is because a js-csp then your company is on fires 😅.

[2017-07-22 05:28] gt3 commented on #134
There is no data in the channel. Unbufferred chan do not / should not hold data. That is the main feature of CSP: synchronization.

[2017-07-22 05:34] hung-phan commented on #134
[code]

This is your comment on the issue #129, can we discuss with them first before attempt to chat more on this? We are having many assumption and lacking the context.

[2017-07-22 05:45] gt3 commented on #134
Please raise the issue if you like. By all means go ahead, but we need to remove the breaking changes here first. I could do it but there are other feature commits (fromPromise related) that might be affected (commit history is not clean and undocumented PR). Since you've made these changes without giving proper thought, you should first restore master to expected behavior of 9.3.

I've given more

[2017-07-22 05:58] hung-phan commented on #134
I don't want to argue with you, really. Your comment just doesn't make sense for me, sorry. I would need a more concrete example also the reference to other implementation to have more thought on this. I don't think I want to reverse back the change to 1.0.0 instead of releasing a fix for it in 1.0.1 (for example). For #63, I think it must be a good explanation somewhere in CSP docs or threads dis

[2017-07-22 14:19] gt3 commented on #134
@hung-phan If you believe in discussions, perhaps you should have done some of that *before* releasing your code to master. This would've prevented arguments (as here), and encouraged a different attitude to finding solutions to problems.

The part that startles me the most is that - you've changed your mind few times between #129, your recent push to v1.1, and this discussion but you won't change

[2017-07-23 03:12] hung-phan commented on #134
https://github.com/ubolonton/js-csp/pull/136

[2017-07-23 03:20] #134 closed

[2017-07-23 03:31] hung-phan commented on #129
/cc @Cpt0r

For 1.0.0 your example will work like you expected
For 1.0.1 you must supply the buffer to channel. It is a hidden detail, and we hope that we can include it in the documents in the next few weeks. For me, I am discussing the trace-off with core.async channel the benefit of buffered vs unbuffered channel. I don't think it is quite different in term of features, but the bad thing is tha

[2017-07-23 03:31] #129 closed

[2017-07-23 04:30] gt3 commented on #129
@hung-phan Appreciate your help in resolving this.

[2017-07-23 23:52] Cpt0r commented on #129
@hung-phan what happens if the buffer size is zero?  I've seen that in one of the examples and been meaning to ask how it's different to having no buffer; and how will (should) it play with the above situation?

[2017-07-24 01:20] hung-phan commented on #129
@Cpt0r then it will be unbuffered type. See it here https://github.com/ubolonton/js-csp/blob/master/src/csp.core.js#L32

[2017-07-24 01:40] hung-phan commented on #129
@Cpt0r, 1 more thing. If you are trying to do sth like this.

[code]

We already have a guard condition at https://github.com/ubolonton/js-csp/blob/master/src/impl/buffers.js#L87. So no worries

[2017-07-26 06:14] hung-phan commented on #133
script formatting. This should be an example https://github.com/frankandrobot/js-csp/blob/master/examples/web/throttle.html. Your code need to be proper format like this example.

[2017-08-04 18:26] corporatepiyush commented on #133
I think the code for `debounce` operation is worth putting in `csp.operations.js`

[2017-08-05 22:38] gt3 opened #138 "throttle and debounce"
Controlling streaming data with channels is a very powerful concept. Yet too much boilerplate goes into implementing functions like throttle and debounce.

I'm proposing that we add few helpers to provide out of the box standard functionality.

[code]

---

- [demo](https://jsfiddle.net/cheekyiscool/mov783e7/)
- [gist](https://gist.github.com/gt3/7d1318f18c2b9c394fac503097702c89)

I can create a P

[2017-08-06 22:37] corporatepiyush opened #139 "Golang like Context for gorutines"
Is there an equivalent to Golang's context ?

https://golang.org/pkg/context/

[2017-08-07 02:27] gt3 commented on #139
Correct me if I'm wrong but shouldn't Context be a package in itself that depends on channels (js-csp)? Also I feel that we're already biting off more than we can chew here.

I enjoyed reading the docs. Interesting concept...

@corporatepiyush Curious to know if you have a use case or you're just sharing?

[2017-08-07 10:07] corporatepiyush commented on #139
Its not a feature request, just a question since I didnt find any context based libs based on `js-csp`. I was wondering if I were to use this library (over Golang) for writing complex business logic
how would I cope with keeping context across many goroutines

As you would have realized from `Context` package doc link, its pretty much useful to maintain context across a given request flow consisti

[2017-08-07 16:47] gt3 commented on #139
Really great content there.. especially comparison with the actor model. Thanks for sharing.

[2017-08-09 14:31] gt3 commented on #138
Totally your code inspired me to open this issue. I just refactored it a bit. I wanted to show how simple it is to go from throttle to debounce using Channels as the interface. Thanks again for making that example.

[2017-08-14 09:18] corporatepiyush opened #140 "Bubble Burster Game example"
I created a Bubble Burster Game with this library

Link : https://corporatepiyush.github.io/js/csp/concurrent.html

Feedback welcome.

If we think its appropriate use of js-csp, we can include in examples directory for others to look at ?

[2017-08-25 11:23] loveencounterflow commented on #60
FWIW [pull-streams](https://pull-stream.github.io/) use `null` in a like manner to signal termination. It does seem like a bad choice when you think of streaming primitive values, but then in practice you often want to / need to stream more complex values (events) that carry some piece of metadata, like `[ key, value, ]` or `{ key, value, }`. `undefined` is not necessarily better. Symbols are grea

[2017-11-16 07:23] chenyong commented on #73
Rethink about this issue in 2017?

https://github.com/dvlsg/async-csp
http://koajs.com/

[2017-11-16 22:54] dgroch opened #141 "Failed to minify code : Create React App Build Error"
[code]

[2017-11-16 22:55] dgroch commented on #141
The error log also provides this link

https://github.com/facebookincubator/create-react-app/blob/master/packages/react-scripts/template/README.md#npm-run-build-fails-to-minify

[2017-11-26 08:10] wmakeev commented on #73
Is this suitable here?

https://medium.com/netscape/async-iterators-these-promises-are-killing-my-performance-4767df03d85b

[2018-01-25 03:59] bernielomax commented on #141
I am also experiencing this exact same issue.

[2018-01-29 23:08] bhurlow opened #142 "Question: similarities to parallelLimit()"
Hello All,

Great lib! What's the most idiomatic way with csp/channels to handle parallel tasks with some defined limits, similar to: https://caolan.github.io/async/docs.html#parallelLimit?

I want to write to a channel that blocks but only if the number of concurrent tasks is greater than a defined threshold. Would counting callbacks still be the preferred approach to this? I could use a buffered

[2018-01-29 23:10] bhurlow commented on #142
something like: https://clojure.github.io/core.async/#clojure.core.async/pipeline-async

[2018-01-29 23:11] bhurlow commented on #142
and then he reads the docs: https://github.com/ubolonton/js-csp/blob/master/doc/advanced.md#pipelineasyncn-to-af-from-keepopen

[2018-01-29 23:11] #142 closed

[2018-02-13 17:04] bhurlow opened #143 "interest in maintaining"
Hi!

I saw your note about request for maintainers. I'm using this in production currently and enjoy using the cljs version similarly. I would be interested in contributing

Thanks
Brian

[2018-02-21 08:11] hung-phan commented on #143
Hi @bhurlow, thanks. Let me add you to contributor list

[2019-08-05 19:41] rpgeeganage opened #144 "Happy to be a maintainer"
Hi I would like to be a maintainer.
Thanks

[2019-08-07 02:05] ubolonton commented on #144
I'm not using this (or event javascript) anymore. I'm thinking about transferring this to an org account. @hung-phan What do you think?

[2019-08-10 17:35] ubolonton commented on #144
@rpgeeganage I created the org and invited you to it.

Please let me know what further assistance you need on taking over. We can discuss over email (I use gmail under the same username), or IM, whichever you prefer.

[2019-08-11 10:29] rpgeeganage commented on #144
@ubolonton,
Thanks a lot for adding me as a maintainer. Ping me for any road map, or refactoring which you are planning. I would like to work on them.

[2019-08-13 14:25] ubolonton commented on #144
I haven't looked at this for a long time, so I'm not on top of what's currently needed.

Beside the long issue+PR list, I think the most important things are:
- Fix the [security alerts from dependencies](https://github.com/js-csp/js-csp/network/alerts).
- Investigate supporting `async/await` over `*/yield`. My guess is that `async/await` is now mature enough (e.g. to skip polyfills). I haven't lo

[2019-08-14 10:07] rpgeeganage commented on #144
@ubolonton ,
Thanks for the information. I'll run `npm audit` and work on it in the weekend.

[2019-08-25 12:34] rpgeeganage commented on #144
@ubolonton
it seems all the CIs are not working. Can you please check it. It seems I don't have permission

[2019-08-25 14:53] ubolonton commented on #144
I think it was still linked to my personal Travis. Can you try creating a new Travis account?

[2019-12-02 00:34] zzz6519003 commented on #144
same here
to help!

[2020-10-18 00:34] weipertda opened #146 "Maintainers"
Hi, I would love to be able active maintainer on the project.

[2020-10-19 15:58] joshlemer commented on #146
@bhurlow are you still using this project? If you're still looking for contributors maybe you can invite @antistructure

[2020-10-19 16:35] hung-phan commented on #146
Invited

[2020-10-19 16:35] #146 closed, assigned to nobody

[2020-10-19 16:36] hung-phan commented on #143
Invited

[2020-10-19 16:36] #143 closed, assigned to nobody